:root {
    --cl_principale: #fafafa;
    --cl_secondaire: #fb7241;
    --cl_contraste: #c7c7c790;
    --cl_accentuation: #afb1b1;
    --cl_back: #020d15ef;
    --cl_blanc: #F5F5F5;
}

* {
    color: var(--cl_principale);
}

body {
    background-color: var(--cl_bleu);
}
/*header*/
#header {
    background-color: var(--cl_back);
}

#nsite_orange {
    color: var(--cl_secondaire);
    font-weight: bold;
    font-size: 220%;
}
#Nav_item_custom {
    color: white;
    font-size: larger;
    align-content: center;
   
}


.nav-link {
    /*- DEBUT DEGRADÉ naVbar   */
    background-color: #020d15ef;
    background-image: linear-gradient( 45deg, #fb7241 34.666%, #F5F5F5 13.666%, #E16541 33.333%, #F5F5F5 33.333%, #F18F43 50%, #F5F5F5 50%, #F5F5F5 66.666%, #F5F5F5 66.666%, #F5F5F5 83.333%, #F5F5F5 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
.nav-link:hover {
    animation: rainbow-text-simple-animation-rev 0.5s ease-in forwards;

}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}
/*- FIN DEGRADÉ naVbar   */


/*BOUTON LOGIN*/
#btn_ln_su1 {
    color: var(--cl_secondaire);
    font-weight: bold;
    font-size: 220%;
    background-color: #020d15ef;
    background-image: linear-gradient( 45deg, #fb7241 55.666%, #F5F5F5 13.666%, #E16541 33.333%, #F5F5F5 33.333%, #F18F43 50%, #F5F5F5 50%, #F5F5F5 66.666%, #F5F5F5 76.666%, #F5F5F5 83.333%, #F5F5F5 93.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
#btn_ln_su1:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}
    
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}
/*BOUTON LOGIN FIN*/


/*BOUTON SIGN UP DEBUT*/ /* à retravailler pour inverser la direction du dégradé */

#btn_ln_su2 {
    color: var(--cl_principale);
    font-weight: bold;
    font-size: 220%;
    background-color: #020d15ef;
    background-image: linear-gradient( 45deg, #F5F5F5 64.666%, #F5F5F5 13.666%, #E16541 33.333%, #F5F5F5 33.333%, #F18F43 50%, #F5F5F5 50%, #F5F5F5 66.666%, #fb7241 76.666%, #fb7241 83.333%, #fb7241 80.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
#btn_ln_su2:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}
/*BOUTON SIGN UP FIN*/


/*BOUTON "see more" des articles*/

#btnPerso {
    color: black;
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: black;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    width: 130px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
    #btnPerso:hover {
        background-color: #fb7241;
        color: whitesmoke;
    }


 /*BOUTON 'see more' DES ARTICLES */


#nsite_bleu {
    color: var(--cl_principale);
    font-weight: bold;
    font-size: 220%;
}

#nav_a_acc {
    color: #000000;
    background-color: white;
    font-weight: bold;
}

    #nav_a_acc:hover {
        color: var(--cl_secondaire)
    }

#nav_a {
    color: var(--cl_principale);
}

    #nav_a:hover {
        color: var(--cl_secondaire);
    }



   
/* end header*/


/* heros */
#heros {
    background: url("/img/pexels-johannes-plenio-1114900.jpg");
    padding-bottom: 18%;
}

#img_heros {
    padding-top: 3%;
    padding-bottom: 3%;
}


#h1-acc {
    color: var(--cl_principale);
    padding-top: 3%;
}

/* end heros*/

/*main*/

#main {
    background: url("/img/lune-mars.jpg");
    opacity: 86%;
    margin-top: 5%;
    background-color: var(--cl_bleu);
    padding: 3%;
    /*background-attachment: scroll;   POUR FAIRE SCROLL L'IMAGE*/ 
}

.lead {
    color: var(--cl_bleu);
    font-weight: bold;
}

#img_main {
    padding-right: 6%;
}

#lien_main {
    color: var(--cl_accentuation);
}
/* end main*/


/*FICHES PERSO*/

#description {
    background-color: var(--cl_back);
}

#bouton_du2emeplusbeau {
    font-weight: 480;
    color: black;
}

}#fiche_nom_Ep {
    font-weight: 300;
    color: black;
    font-style: italic;
}



#fiche_E {
    color: black;
    background-color: var(--cl_blanc);
}

#fiche_nom_duplusbeau {
    font-weight: 480;
    background-color: black;
    color: whitesmoke;
}
/*BOUTON ETHAN*/
#fiche_nom_du2emeplusbeau {
    color:black;
    font-style: italic;
}
#bouton_duplus2emebeau:hover {
    background-color: #fb7241;
    color: whitesmoke;
}
#fiche_nom_duplusbeauP {
    font-weight: 300;
    background-color: black;
    color: whitesmoke;
    font-style: italic;
}
/*BOUTON CHRISTO*/
#bouton_duplusbeau {
    font-weight: 480;
    background-color: black;
    color: whitesmoke
}
    #bouton_duplusbeau:hover {
        background-color: #fb7241;
        color: whitesmoke;
    }


#fiche_J {
    background-color: var(--cl_secondaire);
}
/* end les fiches personnelles*/


/* footer */
#footer {
    background-color: var(--cl_back);
}

#footer_li {
    color: var(--cl_principale);
}
/* end footer*/

/*Astronomie*/

#heros_Astro {
    background: url("/img/satelite.jpg");
    opacity: 0.89;
}

#articles_main {
    background-color: var(--cl_back);
}

#card_art {
    background-color: var(--cl_accentuation);
}

/* login.html */
#bacground {
    background-color: var(--cl_back);
    width: auto;
    height: 10%;
}

#login {
    background: url"lune.jpg");

}

#floatingInput {
    color: #000000;
}
/*sign up*/
#sign_up {
    background: url(/img/etoiles.jpg);
    
}

/*exploration*/
#heros_explo {
    background: url("/img/spacex.jpg");
    opacity: 0.89;
}

/*COPYRIGHT PERSO*/

#CopyrightPerso {
    background-color: #020d15ef;
    background-image: linear-gradient( 45deg, #fb7241 18.666%, #F5F5F5 13.666%, #E16541 33.333%, #F5F5F5 33.333%, #F18F43 50%, #F5F5F5 50%, #F5F5F5 66.666%, #F5F5F5 66.666%, #F5F5F5 83.333%, #F5F5F5 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
#CopyrightPerso:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }

    40% {
        background-size: 650%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }

    80% {
        background-size: 650%;
    }

    100% {
        background-size: 650%;
    }
}
/*COPYRIGHT PERSO*/