@using Microsoft.AspNetCore.Mvc.TagHelpers
@using cosmofolie.Models;
@inject SignInManager<User> SignInManager

@{
    var isSignIn = SignInManager.IsSignedIn(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - motsion2._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/motsion2._0.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid border-bottom" id="header">
        <header class="d-flex flex-wrap justify-content-between py-3">
            <a href="index.html"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span id="btn_ln_su3 ">Cosmo</span>
                <span id="btn_ln_su3">Folie</span>
            </a>

            <ul class="nav" id="Nav_item_custom">

                <li class="nav-item">
                    <a asp-page="/Index" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Astronomie" class="nav-link">Astronomie</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Exploration" class="nav-link">Exploration</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Apropos" class="nav-link">A propos</a>
                </li>

            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            }
            else
            {
                <a asp-page="/login/Login" class="btn me-1" id="btn_ln_su1">Login</a>
                <a asp-page="/Accunt/Inscription" class="btn me-1 " id="btn_ln_su2">Sign-up</a>
            }

        </header>
    </div>

    <div>
        <main role="main" class="ExplorationStyle" style="min-height: calc(100vh - 98px - 123px)">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid border-top border-white" id="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 pb-5"
                id="footer">
            <p class="col-md-4 mb-0 text-body-secondary" id="CopyrightPerso">© 2023 CosmoFolieBitches Company, Inc</p>

            <a href="/"
               class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item">
                    <a asp-page="/Index" class="nav-link px-2 text-body-secondary footer_li">Accueil</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Astronomie" class="nav-link px-2 text-body-secondary footer_li">Astronomie</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Exploration" class="nav-link px-2 text-body-secondary footer_li">Exploration</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Apropos" class="nav-link px-2 text-body-secondary footer_li">A propos</a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>