@page
@model cosmofolie.Pages.CreerArticle.CreerModel
@{
}
<h1>Create Article</h1>

<div class="row">
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Titre" class="control-label">
                    Titre de l'article'
                </label>
                <input asp-for="Article.Titre" class="form-control" />
                <span asp-validation-for="Article.Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Contenu" class="control-label">
                    Synopsis du film
                </label>
                <textarea asp-for="Article.Contenu" class="form-control"></textarea>
                <span asp-validation-for="Article.Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.ImageFile">Image:</label>
                <input asp-for="Article.ImageFile" class="form-control-file" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Créer le film" class="btn btn-primary" />
            </div>
        </form>
    </div>
