@page
@model cosmofolie.Pages.CreerArticle.EditModel;
@{
    ViewData["Title"] = "Edit Article";
}

<h1>Edit Article</h1>


<h1>
    <a asp-page="/Movies/Index" asp-route-id="@Model.Article.MovieId"><i class="bi bi-arrow-left"></i></a>
    Edition d'un film
</h1>
<hr>
<div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label">
                    Titre du film
                </label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DurationInMinutes" class="control-label">
                    Durée du film (en minutes)
                </label>
                <input asp-for="Movie.DurationInMinutes" class="form-control" />
                <span asp-validation-for="Movie.DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Synopsis" class="control-label">
                    Synopsis du film
                </label>
                <input asp-for="Movie.Synopsis" class="form-control" />
                <span asp-validation-for="Movie.Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.DirectorId" class="control-label">
                    Réalisateur
                </label>
                <select asp-for="Movie.DirectorId" class="form-control" asp-items="ViewBag.DirectorId"></select>
                <span asp-validation-for="Movie.DirectorId" class="text-danger"></span>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" asp-for="Movie.IsTrend">
                </div>
                <label class="form-control">Je suis un film tendance</label>
            </div>

            <input type="hidden" asp-for="Movie.MovieId" />
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
