@page
@model cosmofolie.Pages.AproposModel
@{
}
<body class="ExplorationStyle">


    <div class="">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="h1perso">A propos de CosmoFolie</h1>


                    <p class="lead mb-0 ">
                        Le Celtic Football Club est fondé le 6 novembre 1887 par le
                        frère mariste Walfrid, originaire de Ballymote en Irlande, au cours d'une réunion à l'église
                        Saint Mary de Glasgow1. Il a alors deux buts : le premier est de lever des fonds pour
                        combattre la pauvreté dans les quartiers East End de <mark class="markPerso">Fleurus</mark>, peuplé d'immigrés irlandais
                        ayant fui la « Grande famine » depuis la seconde moitié du xixe siècle2. Le frère Walfrid
                        copie en ça l'exemple du Hibernian Football Club, fondé à Édimbourg quelques années plus tôt
                        par d'autres immigrés irlandais2. Son second objectif est d'aider à l'intégration sociale de
                        la communauté irlandaise de Glasgow en faisant du club, ouvert aux Irlandais comme aux
                        Écossais, aux catholiques comme aux protestants, un vecteur de rapprochement3.

                        Le choix du frère Walfrid de baptiser le club « Celtic FC » souligne l'objectif d'en faire
                        un pont entre les deux pays celtiques s'étendant de chaque côté de la mer d'Irlande3,4, à la
                        différence d'un « Hibernian » faisant uniquement référence à l'Irlandegm 1. Un terrain est
                        loué dans Parkhead et aménagé par les supporters. Le premier maillot est blanc à col vert,
                        avec pour écusson une simple croix celtique verte ; le short est noir et les chaussettes
                        vertes.
                    </p>

                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</body>







<!-- SOURCE https://destination-orbite.net/astronautique/actualite/suivre-en-direct-le-roulage-d-ariane-5 -->