@page
@model cosmofolie.Pages.ExplorationModel
@{
}
<body class="ExplorationStyle">


	<div class="col-md-9 mx-auto">

		<header class="bgimg display-container masthead" id="heros">
			<div class="container col-md-9 mx-auto">
				<div class="row">
					<div class="col-md-9 mx-auto">

						<i class="fa fa-rocket"></i> <a href="https://localhost:7007/img/pexels-johannes-plenio-1114900.jpg
" class="text-white shadow">Viens voir bg</a>
						</p>
					</div>
					<div class="col-2 text-right">
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-bullet rounded-0">
					<li class="breadcrumb-item"><a asp-page="/Apropos"><i class="bi bi-house-fill fil-ariane"></i></a></li>
					<li class="breadcrumb-item"><a asp-page="/Astronomie" class="fil-ariane">Astronomie</a></li>
					<li class="breadcrumb-item"><a asp-page="/Apropos" class="fil-ariane">A propos</a></li>
				</ol>
			</nav>
		</div>

		<h1 class="my-5 display-4 font-weight-bold" id="btn_ln_su4">Roulage de la dernière Ariane 5 à suivre en direct</h1>
		<p class="text-secondary border-top border-bottom py-2 mb-5"><i class="bi bi-calendar2-date"></i> <span class="pr-3">14-06-2023 (Mise à jour: 14-06-2023)</span><span class="pl-3"><i class="bi bi-person-circle"></i></span> <a href="/home/qui-suis-je">Philippe VOLVERT</a></p>
		<div class="addthis_inline_share_toolbox_7l3e mb-4"></div>
		<p>A l’occasion du dernier vol Ariane 5, l’agence spatiale française CNES propose de suivre en direct l’opération de roulage de la fusée vers son pas de tir à la vitesse de 4 km/h.</p>
		<p>
			Le direct débutera ce jeudi 15 juin à partir de 13 heures UTC et devrait se terminer une fois la fusée sur sa rampe de lancement aux alentours de 16 heures UTC.
			Pour l'occasion, de nombreux experts vous décriront les opérations dans les moindres détails.
		</p>
		<p>A partir de 13 heures 30 UTC, le CNES présentera une émission spéciale sur sa chaîne <a href="https://www.twitch.tv/cnes_france" class="link-article">Twitch</a> présentée par le journaliste scientifique Pierre Henriquet avec notre envoyée spéciale Alice Thomas, sur place en Guyane et la participation d'Hugo Lisoir.</p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/I-eGTQQhCMg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
		</div><p class="text-secondary">ESA/CNES/Arianespace/Service Optique CSG</p>
		<div class="lined"></div><h2 class="pb-5 font-weight-bold"></h2>


	</div>
</body>