@page
@model cosmofolie.Pages.Accunt.InscriptionModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Informations de connexion</h4>
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Input.adresseemail"></label>
                <input asp-for="Input.adresseemail" class="form-control" />
                <span asp-validation-for="Input.adresseemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.motdepasse"></label>
                <input asp-for="Input.motdepasse" class="form-control" />
                <span asp-validation-for="Input.motdepasse" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </form>
    </div>
</div>